<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Review\Model\Review">
        <plugin name="hmh_review_auto_approval_publish_after_aggregate"
                type="Hmh\ReviewAutoApproval\Plugin\ReviewAggregatePlugin"/>
    </type>

    <type name="Hmh\ReviewAutoApproval\Model\Validator\ValidatorPool">
        <arguments>
            <argument name="validators" xsi:type="array">
                <item name="minimum_rating" xsi:type="object">Hmh\ReviewAutoApproval\Model\Validator\MinimumRatingValidator</item>
            </argument>
        </arguments>
    </type>

    <type name="Hmh\ReviewAutoApproval\Model\Validator\Strategy\ValidationStrategyPool">
        <arguments>
            <argument name="strategies" xsi:type="array">
                <item name="all_rules_passed" xsi:type="object">Hmh\ReviewAutoApproval\Model\Validator\Strategy\AllRulesPassedStrategy</item>
                <item name="any_rule_passed" xsi:type="object">Hmh\ReviewAutoApproval\Model\Validator\Strategy\AnyRulePassedStrategy</item>
            </argument>
        </arguments>
    </type>
</config>
